body{
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	color:#444;
}
h1, h2, h3{
	margin:0px;
	margin-bottom:10px;
	padding:0px;
}
h1{font-size:20px; text-align:center;text-transform: uppercase; margin-top:20px;;}
h2{font-size:18px}
h3{font-size:16px}
#carousel_container{
	width:1046px;
	margin:auto;
}
#carousel_inner {
	width:1006px; /* important (this width = width of list item(including margin) * items shown */ 
	overflow: hidden;
}
#carousel_ul {
	position:relative;
	left:-328px; /* important (this should be negative number of list items width(including margin) */
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width:9999px;
	padding-bottom:10px;
}
#carousel_ul li{
	background: #F0F0F0;
	float: left;                                 
	width:300px;
	margin-top:10px;
	margin-bottom:10px; 
	margin-left:5px; 
	margin-right:5px; 
}
#left_scroll, #right_scroll{
    color: #3333ff;
    cursor: pointer;
    float: left;
    font-size: 21px;
    left: 30px;
    position: relative;
    top: -38px;
}
#right_scroll{
	float:right;
	left:-30px;
}
#left_scroll:hover, #right_scroll:hover{
	color:#8080FF;
}
.office{
	border:solid 1px #ccc;
	margin:10px;
	padding:10px; 
}
.party{
	padding:10px;
	margin-top:10px;
	border:solid 1px grey;
	background-color:D9D9D9; 
}
.vinner{
    float: right;
    font-size: 50px;
    line-height: 0;
    position: relative;
    top: 22px;
	left: -5px;
}
div.totals{
	clear:both;
	float:none;
	font-size:14px; 
}
.party_LIB{
	background-color:#FFB3B3;
	border:solid 1px red;
}
.party_NDP{
	background-color:#FFE4B3;
	border:solid 1px orange;
}
.party_PC{
	background-color:#B3B3FF;
	border:solid 1px blue;
}
.party_GRN{
	background:#B3D9B3;
	border:solid 1px green;
}
.partyName{
	float: right;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: -30px;
    position: relative;
    top: -31px;
}
.party_LIB .partyName, .party_LIB .vinner{
	color:red;
}
.party_NDP .partyName, .party_NDP .vinner{
	color:orange;
}
.party_PC .partyName, .party_PC .vinner{
	color:blue;
}
.party_GRN .partyName, .party_GRN .vinner{
	color:green;
}